*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #282727;
}
.board{
    
    width: 65vmin;
    height: 70vmin;
    border-radius: 8px;
    margin-bottom: 40px;
}
.game-details{
    background-color: #1c476d;
    font-size: 12px;
    font-weight: 500;
    padding: 20px 8px;
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    border-radius: 8px;
    box-shadow: 4px 4px 8px 8px #121212;
}
.game-area{
    display: grid;
    grid-template-columns: repeat(30,1fr);
    grid-template-rows: repeat(30,1fr);
    background-color: #0c61ab;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: 3px 3px 8px 4px #121212;
}
.food{
    background-color: red;
    box-shadow: 1px 1px 1px 1px #121212;
}
.snake-body{
    background-color: blanchedalmond;
}

.head{
    background-color: blanchedalmond;
    box-shadow: 1px 1px 1px 1px #121212;
}

